apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: etcd-operator
  name: etcd-operator
spec:
  replicas: 2
  selector:
    matchLabels:
      app: etcd-operator
  template:
    metadata:
      labels:
        app: etcd-operator
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - etcd-operator
                topologyKey: kubernetes.io/hostname
              weight: 100
      containers:
        - name: etcd-operator
          image: ghcr.io/on2itsecurity/etcd-operator:v1.2.1
          command:
          - etcd-operator
          # Uncomment to act for resources in all namespaces. More information in doc/user/clusterwide.md
          #- -cluster-wide
          env:
            - name: MY_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          resources:
            limits:
              cpu: 200m
              memory: 80Mi
            requests:
              cpu: 50m
              memory: 50Mi
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /readyz
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 3
            periodSeconds: 3
          securityContext:
            capabilities:
                drop:
                  - ALL
            readOnlyRootFilesystem: true
            runAsUser: 1000
            runAsNonRoot: true
          volumeMounts:
            - name: "tmp"
              mountPath: "/tmp" # Only needed when using TLS
      serviceAccountName: etcd-operator
      volumes:
        - name: "tmp"
          emptyDir: {}
